body {
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 24px;
}

a {
  color: #ffe600;
}

header,
section {
  padding: 50px;
}
header {
  background: #ffe600;
  color: black;
}

.section-one {
  background: #000;
  color: white;
}

.section-one .btn {
  display: inline-block;
  padding: 12px 25px;
  background: #ffe600;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.section-one .btn:hover {
  background: white;
}
.section-two a {
  color: black;
}
.section-two .btn {
  display: inline-block;
  padding: 12px 25px;
  background: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.section-two .btn:hover {
  background: #ffe600;
  color: black;
}
