*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
/* typography */
h1 {
  font-size: 3rem;
  color: #312614;
  margin: 0 auto;
  text-align: center;
}
span {
  color: #b7832f;
}
h2 {
  color: #707070;
  font-size: 1.5rem;
}
p {
  margin-top: 0;
}

/* layout */
.wrapper {
  display: flex;
  justify-content: space-between;
}
.item {
  margin: 1em 0;
  flex-direction: column;
}
.bg-brown {
  background-color: #312614;
  color: white;
  padding: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
}
body {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

.item-1 {
  width: 20%;
}
.item-2 {
  width: 45%;
}
.item-3 {
  width: 75%;
}
